[Unit]
Description=Podman image@%i
Wants=network.target
After=network-online.target
StartLimitIntervalSec=1h
StartLimitBurst=3

[Service]
Type=oneshot
Environment=PODMAN_SYSTEMD_UNIT=%n
LogExtraFields=IMAGE=%i
ExecCondition=/usr/bin/bash -c '[[ $(podman images --format json localhost/%i | jq .\\[0\\]) == "null" ]]'
Environment="IMAGE_TAG=localhost/%i" "BUILD_SOURCE=/docker/containers/%i"
ExecStart=/usr/bin/podman build --tag ${IMAGE_TAG} $EXTRAOPTS ${BUILD_SOURCE}
Restart=no
RemainAfterExit=yes
TimeoutStartSec=1h
SendSIGKILL=no
LogRateLimitIntervalSec=15min
LogRateLimitBurst=1500

