[Unit]
Description=Podman pod@%i
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
StartLimitIntervalSec=150s
StartLimitBurst=3

[Service]
Type=notify
NotifyAccess=main
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/usr/local/bin/podlaunch %i
ExecReload=/usr/bin/podman pod kill --signal HUP %i_pod
Restart=always
RestartSec=20s
TimeoutStartSec=2min
TimeoutStopSec=1min
SendSIGKILL=no

[Install]
WantedBy=multi-user.target default.target
